20k.txt
20ka.txt
20kt.txt
articles.txt
back_titles.txt
first_term_id_in_file.txt
first_title_id_in_file.txt
head.txt
index.txt
log.txt
noextreme.txt
notrash.txt
nows.txt
original_articles.txt
original_titles.txt
processed_text.txt
raw.txt
redirections.txt
redirected_titles.txt
terms.txt
text.txt
titles.txt
vector_norms.txt
a.exe - Shortcut.lnk
PinhaWikiC.sln
PinhaWikiC.vcxproj
PinhaWikiC.vcxproj.filters
PinhaWikiC.vcxproj.user
package-lock.json