20ka.txt
20kt.txt
articles.txt
head.txt
index.txt
original_titles.txt
raw.txt
terms.txt
titles.txt
a.exe - Shortcut.lnk
PinhaWikiC.sln
PinhaWikiC.vcxproj
PinhaWikiC.vcxproj.filters
PinhaWikiC.vcxproj.user