@media (orientation: portrait) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: #fffff0;
    width: 100%;
    height: 100%;
  }

  #search_box {
    display: none;
    position: absolute;
    font-family: 'Times New Roman', serif;
    font-size: calc(12px + 3vw);
    width: 79%;
    top: 16%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: .5vw .7vw .5vw .7vw;
    background-color: #fffa5c;
  }

  #results {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 79%;
    height: 80%;
    top: -500%;
    left: 50%;
    transform: translate(-50%, 0);
    overflow-x: hidden;
    background-color: white;
    filter: drop-shadow(3px 3px 5px grey);
  }

  a, p {
    font-family: 'Times New Roman', serif;
    font-size: calc(12px + 2.5vw);
    padding: 1.4vw;
  }

  h2 {
    position: absolute;
    font-family: monospace;
    font-size: 36px;
    width: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}